{% extends 'store/main.html' %}
{% load static %}
{% block content %}
<main>
	<!-- Preloader Start -->
  <div id="preloader-active">
    <div class="preloader d-flex align-items-center justify-content-center">
      <div class="preloader-inner position-relative">
        <div class="preloader-circle"></div>
        <div class="preloader-img pere-text">
          <img src="{% static 'images/logo.png' %}" alt="">
        </div>
      </div>
    </div>
  </div>
  <!-- Preloader Start -->

	<!-- slider Area Start-->
	<div class="slider-area ">
		<!-- Mobile Menu -->
		<div class="single-slider slider-height2 d-flex align-items-center" data-background="{% static 'images/store-1.jpg' %}">
			<div class="container">
				<div class="row">
					<div class="col-xl-12">
						<div class="hero-cap text-center">
							<h2 style="color:#363636;font-size:8rem">Product</h2>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- slider Area End-->
  <hr>
	<!-- Latest Products Start -->
	<section class="latest-product-area latest-padding">
		<div class="container">
			<!-- Nav Card -->
			<div class="tab-content" id="nav-tabContent">
				<!-- card one -->
				<div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
					<div class="row">

						{% for product in products %}
						<div class="col-xl-4 col-lg-4 col-md-6">
							<div class="single-product mb-60">
								<div class="product-img">
									<img src="{{product.imageURL}}" alt="thumbnail">
									<div class="new-product">
										<span>New</span>
									</div>
								</div>
								<div class="product-caption">
									<h4><strong>{{product.name}}</strong></h4>
									<div class="price">
										<ul>
											<li><strong>₹{{product.price}}</strong></li>
										</ul>
									</div>
									<button data-product="{{product.id}}" data-action="add" class="btn btn-outline-secondary add-btn update-cart">Add to Cart</button>
								</div>
							</div>
						</div>
						{% endfor %}

					</div>
				</div>
			</div>
		</div>
		<!-- End Nav Card -->
	</section>
	<!-- Latest Products End -->

	<!-- Latest Offers Start -->
	<div class="latest-wrapper lf-padding">
		<div class="latest-area latest-height d-flex align-items-center" data-background="{% static 'images/latest-offer.png' %}">
			<div class="container">
				<div class="row d-flex align-items-center">
					<div class="col-xl-5 col-lg-5 col-md-6 offset-xl-1 offset-lg-1">
						<div class="latest-caption">
							<h2>Get Our<br>Latest Offers News</h2>
							<p>Subscribe news latter</p>
						</div>
					</div>
					<div class="col-xl-5 col-lg-5 col-md-6 ">
						<div class="latest-subscribe">
							<form action="#">
								<input type="email" placeholder="Your email here">
								<button>Shop Now</button>
							</form>
						</div>
					</div>
				</div>
			</div>
			<!-- man Shape -->
			<div class="man-shape">
				<img src="assets/img/collection/latest-man.png" alt="">
			</div>
		</div>
	</div>
	<!-- Latest Offers End -->
	<!-- Shop Method Start-->
	<div class="shop-method-area section-padding30">
		<div class="container">
			<div class="row d-flex justify-content-between">
				<div class="col-xl-3 col-lg-3 col-md-6">
					<div class="single-method mb-40">
						<i class="ti-package"></i>
						<h6>Free Shipping Method</h6>
						<p>Free shiping for all type of orders above 200.</p>
					</div>
				</div>
				<div class="col-xl-3 col-lg-3 col-md-6">
					<div class="single-method mb-40">
						<i class="ti-unlock"></i>
						<h6>Secure Payment System</h6>
						<p>Secured pay by Paypal with offers.</p>
					</div>
				</div>
				<div class="col-xl-3 col-lg-3 col-md-6">
					<div class="single-method mb-40">
						<i class="ti-reload"></i>
						<h6>Return/Refund</h6>
						<p>We also have refund scheme within 10-days.</p>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- Shop Method End-->

	<!-- Gallery Start-->
	<div class="gallery-wrapper lf-padding">
		<div class="gallery-area">
			<div class="container-fluid">
				<div class="row">
					<div class="gallery-items">
						<img src="{% static 'images/gallery/gallery1.jpg' %}" alt="Galler-1">
					</div>
					<div class="gallery-items">
						<img src="{% static 'images/gallery/gallery2.jpg' %}" alt="Galler-2">
					</div>
					<div class="gallery-items">
						<img src="{% static 'images/gallery/gallery3.jpg' %}" alt="Galler-3">
					</div>
					<div class="gallery-items">
						<img src="{% static 'images/gallery/gallery4.jpg' %}" alt="Galler-4">
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- Gallery End-->

</main>
{% endblock content %}
